POSTGRES_DB=image_processor
POSTGRES_USER=image_processor
POSTGRES_PASSWORD=image_processor
RABBITMQ_DEFAULT_USER=image_processor
RABBITMQ_DEFAULT_PASS=image_processor

DATABASE_URL=postgresql+psycopg://image_processor:image_processor@localhost:5432/image_processor
RABBITMQ_URL=amqp://image_processor:image_processor@localhost:5672
BLOB_STORAGE_PATH=/app/data/images
UPLOAD_URL_TTL_SECONDS=300
DEBUG=true